# Python
*.pyc
*.py[cod]
*$py.class
*.so
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
db.sqlite3
*.sqlite3
db.sqlite3-journal
*.log
local_settings.py
settings_local.py
media/
staticfiles/

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE and Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific data files
*.csv
*.json
*.xlsx
*.xls

# Project specific script files
gitfig.py
get_github.py
detail.py

# Temporary files
*.tmp
*.temp
*.bak
*.orig

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery
celerybeat-schedule
celerybeat.pid

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
